

input, textarea, select, #browser-default{
    color: #FFF;
}
.datepicker-day-button, .datepicker-controls .select-year input, .datepicker-controls .select-month input, .swal-content__input{
    color: #000 !important;
}

*:disabled, :disabled+label {
    color: #FFF !important;
}

#form_entrega, #div_obss, #recebimentos, #listar_pedidos, #tbl_produto, #select-wrapper{
    display: none;
}

select{
    background-color: transparent;
    border: none;
}

option{
    color: #000;
}
/*
.input-field>label:not(.label-icon) {
    transform: translateY(-14px) scale(0.8) !important;
    transform-origin: 0 0 !important;
}*/